# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg
dist/
build/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Project specific
tmp/

# OS
.DS_Store
Thumbs.db

aws/lambda/*/local_s3/models/
